<div class="row" style="margin-top:30px;">
    <div class="col-md-6 col-md-offset-6 well">
        <form method="post" action="/account/signup">
            <input type="text" name="name" placeholder="Name" class="form-control" />
            <br />
            <input type="text" name="email" placeholder="Email" class="form-control" />
            <br />
            <input type="password" name="password" placeholder="password" class="form-control" />
            <br />
            <button class="btn btn-outline-secondary">Sign Up</button>
        </form>
    </div>
</div>